.contentCard{
    background-color: #ffff;
    width: 15.625em;
    display: flex;
    flex-direction: column;
    padding: 1.25em;
    align-items: center;
    border-radius: 10%;
    gap:0.9375em;
}
.cardImage{
    width: 9.375em;
    height: 9.375em;
    object-fit: contain;
    border-radius: 10%;
}

.text_rosa{
    color: #404040;
    font-size: 1em;
    text-align: center;
}